@model AspNetCore.Introduction.ViewModels.ImageViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Categories</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @{
                var base64 = Convert.ToBase64String(Model.Image);
                var imgSrc = $"data:image/gif;base64,{base64}";
            }

            <img src="@imgSrc" alt="" />
        </dd>
    </dl>
</div>
<div class="row">
    <section>
        <form method="post" enctype="multipart/form-data"
              asp-controller="Categories" asp-action="FileUpload">
            <div class="form-group">

                <div class="col-md-10">
                    <p>Upload image using this form:</p>
                    <input type="file" name="file" />
                    <input type="number" name="CategoryId" hidden value="@Model.Category.CategoryId"/>
                    <input type="text" name="CategoryName" hidden value="@Model.Category.CategoryName"/>
                    <input type="text" name="Description" hidden value="@Model.Category.Description"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" />
                </div>
            </div>
        </form>
    </section>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
